/* @tailwind base;
@tailwind components;
@tailwind utilities; */

/* body {
  margin: 0;
} */

/* canvas {
  display: inline-block;
} */

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
} */
